.hourly-temperature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.hourly-temperature-content:first-child {
  margin: 0;
  margin-right: 10px;
}

.hourly-temperature-content:last-child {
  margin: 0;
  margin-left: 10px;
}

.hourly-temperature-content .hour {
  font-weight: bold;
  font-size: 14px;
}


.hourly-temperature-content .hourly-temperature {
  font-size: 16px;
  margin: 0;
}

@media screen and (min-width: 380px) {
  .hourly-temperature-content {
    margin: 0 15px;
  }
  
  .hourly-temperature-content:first-child {
    margin-right: 15px;
  }
  
  .hourly-temperature-content:last-child {
    margin-left: 15px;
  }
}